In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('fhs_train.csv')
data = data.drop('Unnamed: 0',axis=1)
data

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,58,1.0,0,0.0,0.0,0,0,0,220.0,143.0,104.0,29.85,75,87.0,1
1,0,40,1.0,1,15.0,0.0,0,0,0,199.0,122.0,82.0,22.16,85,77.0,0
2,0,52,1.0,0,0.0,0.0,0,0,0,275.0,112.0,71.0,25.68,80,NaN,0
3,1,38,2.0,1,43.0,0.0,0,1,0,170.0,130.0,94.0,23.90,110,75.0,0
4,0,43,1.0,0,0.0,0.0,0,0,0,202.0,124.0,92.0,21.26,75,74.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,1,36,4.0,0,0.0,0.0,0,0,0,234.0,133.0,88.0,26.78,58,100.0,0
3176,1,47,1.0,1,20.0,0.0,0,0,0,284.0,137.0,91.0,27.33,73,61.0,0
3177,1,52,2.0,0,0.0,0.0,0,0,0,310.0,135.0,89.0,29.51,64,74.0,1
3178,0,48,1.0,1,5.0,0.0,0,0,0,296.0,117.0,73.0,24.59,70,78.0,0
3179,0,60,2.0,1,15.0,0.0,0,1,0,236.0,183.0,107.0,25.45,86,NaN,0

In [44]:
columns = ['sex', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD']

In [55]:
# RESOURCES
# https://www.statology.org/pandas-select-rows-without-nan/

data = data[~data.isnull().any(axis=1)] # gets rid of all rows with np.nan values
data = data.rename(columns={"TenYearCHD": "TEN_YEAR_CHD"})
data.to_csv("fhs_test_cleaned.csv")
data

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TEN_YEAR_CHD
0,1,58,1.0,0,0.0,0.0,0,0,0,220.0,143.0,104.0,29.85,75,87.0,1
1,0,40,1.0,1,15.0,0.0,0,0,0,199.0,122.0,82.0,22.16,85,77.0,0
3,1,38,2.0,1,43.0,0.0,0,1,0,170.0,130.0,94.0,23.90,110,75.0,0
4,0,43,1.0,0,0.0,0.0,0,0,0,202.0,124.0,92.0,21.26,75,74.0,0
6,0,54,1.0,0,0.0,0.0,0,1,0,237.0,171.5,105.5,34.25,91,104.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,0,54,2.0,0,0.0,0.0,0,1,0,320.0,165.0,84.0,38.31,80,99.0,0
3175,1,36,4.0,0,0.0,0.0,0,0,0,234.0,133.0,88.0,26.78,58,100.0,0
3176,1,47,1.0,1,20.0,0.0,0,0,0,284.0,137.0,91.0,27.33,73,61.0,0
3177,1,52,2.0,0,0.0,0.0,0,0,0,310.0,135.0,89.0,29.51,64,74.0,1
3178,0,48,1.0,1,5.0,0.0,0,0,0,296.0,117.0,73.0,24.59,70,78.0,0

In [51]:
print("Highest correlations come from age, prevalentHyp, sysBP, glucose, diaBP and totChol with the highest being age and sysBP")

Highest correlations come from age, prevalentHyp, sysBP, glucose, diaBP and totChol with the highest being age and sysBP

In [53]:
correlated_columns = ['age', 'prevalentHyp', 'sysBP', 'glucose', 'diaBP', 'totChol']
for column in correlated_columns:
    print(data.loc[:,[column, 'TEN_YEAR_CHD']].groupby(column).describe())

    TEN_YEAR_CHD
           count      mean       std  min   25%  50%   75%  max
age
32           1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
33           5.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
34          10.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
35          23.0  0.086957  0.288104  0.0  0.00  0.0  0.00  1.0
36          55.0  0.036364  0.188919  0.0  0.00  0.0  0.00  1.0
37          53.0  0.037736  0.192380  0.0  0.00  0.0  0.00  1.0
38          97.0  0.072165  0.260105  0.0  0.00  0.0  0.00  1.0
39         107.0  0.037383  0.190592  0.0  0.00  0.0  0.00  1.0
40         123.0  0.048780  0.216290  0.0  0.00  0.0  0.00  1.0
41         115.0  0.069565  0.255526  0.0  0.00  0.0  0.00  1.0
42         123.0  0.089431  0.286532  0.0  0.00  0.0  0.00  1.0
43         101.0  0.089109  0.286322  0.0  0.00  0.0  0.00  1.0
44         101.0  0.089109  0.286322  0.0  0.00  0.0  0.00  1.0
45         109.0  0.091743  0.289996  0.0  0.00  0.0  0.00  1.0
46         124.0  0.064516  0.246667  0.0  0.00  0.0  0.00  1.0
47          88.0  0.170455  0.378187  0.0  0.00  0.0  0.00  1.0
48         123.0  0.113821  0.318893  0.0  0.00  0.0  0.00  1.0
49          87.0  0.183908  0.389655  0.0  0.00  0.0  0.00  1.0
50          87.0  0.160920  0.369587  0.0  0.00  0.0  0.00  1.0
51          86.0  0.209302  0.409197  0.0  0.00  0.0  0.00  1.0
52          95.0  0.157895  0.366577  0.0  0.00  0.0  0.00  1.0
53          87.0  0.195402  0.398809  0.0  0.00  0.0  0.00  1.0
54          92.0  0.141304  0.350244  0.0  0.00  0.0  0.00  1.0
55          96.0  0.145833  0.354792  0.0  0.00  0.0  0.00  1.0
56          82.0  0.256098  0.439162  0.0  0.00  0.0  0.75  1.0
57          73.0  0.246575  0.434000  0.0  0.00  0.0  0.00  1.0
58          73.0  0.301370  0.462028  0.0  0.00  0.0  1.00  1.0
59          70.0  0.285714  0.455016  0.0  0.00  0.0  1.00  1.0
60          82.0  0.280488  0.452002  0.0  0.00  0.0  1.00  1.0
61          72.0  0.222222  0.418657  0.0  0.00  0.0  0.00  1.0
62          68.0  0.264706  0.444457  0.0  0.00  0.0  1.00  1.0
63          76.0  0.289474  0.456532  0.0  0.00  0.0  1.00  1.0
64          58.0  0.241379  0.431657  0.0  0.00  0.0  0.00  1.0
65          39.0  0.256410  0.442359  0.0  0.00  0.0  0.50  1.0
66          26.0  0.461538  0.508391  0.0  0.00  0.0  1.00  1.0
67          25.0  0.400000  0.500000  0.0  0.00  0.0  1.00  1.0
68           9.0  0.333333  0.500000  0.0  0.00  0.0  1.00  1.0
69           2.0  0.500000  0.707107  0.0  0.25  0.5  0.75  1.0
70           1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
             TEN_YEAR_CHD
                    count      mean       std  min  25%  50%  75%  max
prevalentHyp
0                  1859.0  0.112426  0.315975  0.0  0.0  0.0  0.0  1.0
1                   885.0  0.242938  0.429100  0.0  0.0  0.0  0.0  1.0
      TEN_YEAR_CHD
             count mean       std  min   25%  50%   75%  max
sysBP
83.5           2.0  0.5  0.707107  0.0  0.25  0.5  0.75  1.0
85.0           1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
85.5           1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
90.0           2.0  0.0  0.000000  0.0  0.00  0.0  0.00  0.0
92.0           1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
...            ...  ...       ...  ...   ...  ...   ...  ...
232.0          1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
243.0          1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
244.0          1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
248.0          1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
295.0          1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0

[226 rows x 8 columns]
        TEN_YEAR_CHD
               count mean       std  min   25%  50%   75%  max
glucose
40.0             2.0  0.5  0.707107  0.0  0.25  0.5  0.75  1.0
43.0             1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
44.0             1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
45.0             3.0  0.0  0.000000  0.0  0.00  0.0  0.00  0.0
47.0             3.0  0.0  0.000000  0.0  0.00  0.0  0.00  0.0
...              ...  ...       ...  ...   ...  ...   ...  ...
320.0            1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
332.0            1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
348.0            1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
370.0            1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
394.0            1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0

[125 rows x 8 columns]
      TEN_YEAR_CHD
             count  mean  std  min   25%  50%  75%  max
diaBP
51.0           1.0  1.00  NaN  1.0  1.00  1.0  1.0  1.0
52.0           2.0  0.00  0.0  0.0  0.00  0.0  0.0  0.0
54.0           1.0  1.00  NaN  1.0  1.00  1.0  1.0  1.0
55.0           2.0  1.00  0.0  1.0  1.00  1.0  1.0  1.0
56.0           1.0  0.00  NaN  0.0  0.00  0.0  0.0  0.0
...            ...   ...  ...  ...   ...  ...  ...  ...
130.0          4.0  0.75  0.5  0.0  0.75  1.0  1.0  1.0
133.0          2.0  0.00  0.0  0.0  0.00  0.0  0.0  0.0
135.0          1.0  1.00  NaN  1.0  1.00  1.0  1.0  1.0
136.0          1.0  0.00  NaN  0.0  0.00  0.0  0.0  0.0
142.5          1.0  0.00  NaN  0.0  0.00  0.0  0.0  0.0

[134 rows x 8 columns]
        TEN_YEAR_CHD
               count mean std  min  25%  50%  75%  max
totChol
113.0            1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0
119.0            1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0
133.0            1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
135.0            1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0
137.0            1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ..  ...  ...  ...  ...  ...
410.0            1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0
432.0            1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
439.0            1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
464.0            1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
600.0            1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0

[236 rows x 8 columns]